@{
    ViewBag.Title = "Home Page";
}

<div class="container app">
    <div class="row app-one">

        <div class="col-sm-4 side">
            <div class="side-one">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-3 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="~/Content/img/default-avatar.png" id="current-user-image" />
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">
                        <div class="heading-name-meta" id="current-user-name">
                            
                        </div>
                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                        <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- Heading End -->
                <!-- SearchBox -->
                @*<div class="row searchBox">
                    <div class="col-sm-12 searchBox-inner">
                        <div class="form-group has-feedback">
                            <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>*@

                <!-- Search Box End -->
                <!-- sideBar -->
                <div class="row sideBar" id="sideBar">

                    @*<div class="row sideBar-body">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="~/Content/img/default-avatar.png" />
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                    <span class="name-meta">
                                        Ankit Jain
                                    </span>
                                </div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                    <span class="time-meta pull-right">
                                        18:1s
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@

                </div>
                <!-- Sidebar End -->
            </div>
            <div class="side-two">

                <!-- Heading -->
                <div class="row newMessage-heading">
                    <div class="row newMessage-main">
                        <div class="col-sm-2 col-xs-2 newMessage-back">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-10 col-xs-10 newMessage-title">
                            New Chat
                        </div>
                    </div>
                </div>
                <!-- Heading End -->
                <!-- ComposeBox -->
                <div class="row composeBox">
                    <div class="col-sm-12 composeBox-inner">
                        <div class="form-group has-feedback">
                            <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <!-- ComposeBox End -->
                <!-- sideBar -->
                <div class="row compose-sideBar">

                    @*<div class="row sideBar-body">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="~/Content/img/default-avatar.png" />
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                    <span class="name-meta">
                                        Ankit ssss
                                    </span>
                                </div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                    <span class="time-meta pull-right">
                                        324324
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
          
                </div>
            </div>
            <!-- Sidebar End -->
        </div>


        <!-- New Message Sidebar End -->
        <!-- Conversation Start -->
        <div class="col-sm-8 conversation">
            <!-- Heading -->
            <div class="row heading">
                <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="~/Content/img/default-avatar.png" id="current-conversion-image" />
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 heading-name">
                    <div class="heading-name-meta" id="current-conversion-name">
                        
                    </div>
                    <span class="heading-online">Online</span>
                </div>
                <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                    <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                </div>
            </div>
            <!-- Heading End -->
            <!-- Message Box -->
            @*style="background-image: url(img/bg.jpg)"*@
            <div class="row message" id="conversation">
 
            </div>
            <!-- Message Box End -->
            <!-- Reply Box -->
            <div class="row reply">
                <div class="col-sm-11 col-xs-11 reply-main">
                    <textarea class="form-control" rows="1" id="input-message"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send" id="btn-send">
                    <i class="glyphicon glyphicon-send"></i>
                </div>
            </div>
            <!-- Reply Box End -->
        </div>
        <!-- Conversation End -->
    </div>
    <!-- App One End -->
</div>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/hubs"></script>
<!-- App End -->