@model Mohdthat.ViewModels.UserYouAddedViewModel
@{
    ViewBag.Title = "index";
}

<div id="add-contact" class="container">

    <div class="jumbotron text-center" style="font-size:30pt">
        Add Contacts
    </div>


    <div id="add-contact-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><h4>Name</h4></th>
                    <th><h4>Add</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    if (user.UserName != Model.CurrentUser)
                    {
                        var findUser = Model.UserContact.FirstOrDefault(f => f.UserSelected == user.UserName);
                        if (findUser != null)
                        {
                            if (user.UserName == findUser.UserSelected)
                            {
                              <tr>
                                <td><h4>@findUser.UserSelected</h4></td>
                                <td><h4>@Html.ActionLink("Delete", "Delete", "AddContact", new { id = user.Id }, new { @class = "btn btn-danger" })</h4></td>
                            </tr>
                            }
                             
                        }
                         else
                        {
                            <tr>
                            <td><h4>@user.UserName</h4></td>
                            <td><h4>@Html.ActionLink("Add", "Add", "AddContact", new { id = user.Id }, new { @class = "btn btn-success" })</h4></td>
                        </tr>
                        }
                    }
                }
        
            </tbody>
        </table>
        
    </div>
</div>
<script>
    //$(".btn-success").click(function () {

    //})
</script>



