@model Mohdthat.ViewModels.UserYouAddedViewModel
@{
    ViewBag.Title = "index";
}

<div id="add-contact" class="container">
    <div id="add-contact-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    if (user.UserName != Model.CurrentUser)
                    {
                        var findUser = Model.UserContact.SingleOrDefault(f => f.UserSelected == user.UserName);
                        if (findUser != null)
                        {
                            if (user.UserName == findUser.UserSelected)
                            {
                              <tr>
                                <td>@findUser.UserSelected</td>
                                <td>@Html.ActionLink("Remove", "Delete", "AddContact", new { id = user.Id }, new { @class = "btn btn-danger" })</td>
                            </tr>
                            }
           
                             
                        }
                         else
                        {
                            <tr>
                            <td>@user.UserName</td>
                            <td>@Html.ActionLink("Add", "Add", "AddContact", new { id = user.Id }, new { @class = "btn btn-success" })</td>
                        </tr>
                        }
                    }
                }
        
            </tbody>
        </table>
        
    </div>
</div>
<script>
    //$(".btn-success").click(function () {

    //})
</script>



