
@{
    ViewBag.Title = "Index";
}
<div id="add-contact" class="container">
    <button class="btn btn-success">Add</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>الدورية</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>

</div>
